
.bigtext {
 font-weight: 1000;
}
.smalltext {
    color: rgb(116, 118, 121);
    font-size: 15px;
}
.more {
    margin-left: 450px;
}
.rames_1 {
    width: 500px;
    height: 480px;
    background-color:rgb(255, 255, 255) ;
    margin-left: 30%;
    margin-top: 15px;
    border: 1px solid rgb(219, 217, 217);
    padding: 10px;
    
}
.img {
    width: 500px;
}
.bigtext_1 {
   font-size: 14px;
   font-weight: 1000;
}